<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
  <section fxFlex>
    <h1>Symphonia Foundation</h1>
    <p>
      The Symphonia Foundation provides a consensus tool for the community. This allows users to establish a Trustless community and reach a flawless agreement. It is the Foundation's responsibility to maintain this and to continue to develop tools of the type required by users. This itself is a decentralized community.
    </p>
  </section>
  <section fxFlex>
    Symphonia Tool Image
  </section>
</div>